<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	*{
		font-family: helvetica;
		margin: 0 auto;
	}

	.container{
		width: 850px;
		/*height: 600px;*/
		border: 1px solid black;
		padding: 50px;
	}
	h2{
		display: inline-block;
		text-decoration: underline;
	}
	a{
		margin-left: 450px;
		font-size: 1.4em;
		display: inline-block;
	}
	.allSecrets{
		/*border: 1px solid black;*/
		padding: 15px;
		overflow-y: auto;
		/*height: 350px;*/
	}

	.likesForm, .destroyForm, .unlikesForm, .secrets, .likes{
		display: inline-block;
	}
	.destroyForm{
		margin-left: 500px;
	}
	.thumb{
		margin-bottom: 5px;
	}
</style>
<body>
	<div class="container">
		<h2>All Secrets</h2>
		<a href="/users/<%= session[:user_id] %>">Back</a><hr><br><br>

		<div class="allSecrets">
			<% @all_secrets.each do |secret| %>
				<p class="secrets"><%= secret.content %></p> - 
				<p class="likes"><img src="http://a.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2013/11/3021307-inline-fb-thumbsup-printpackaging.jpg" height=15 class="thumb"> <%= secret.likes.count %></p><br>
				<form action='/likes' method='post' class="likesForm">
				    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
				    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
				    <input type='submit' value='Like' class="btn btn-success btn-xs">
				</form>
				<form action='/unlikes' method='post' class="unlikesForm">
				    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
				    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
				    <input type='submit' value='Unlike' class="btn btn-info btn-xs">
				</form>

				<% if current_user == secret.user %>
					<form action="/secrets/destroy" method="post" class="destroyForm">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input type="hidden" value="<%= secret.id %>" name="secret_id">
						<input type="submit" value="Delete" class="btn btn-danger btn-xs">
					</form>
				<% end %><hr>
			<% end %>
		</div>
	</div>
</body>
</html>